body.rails_admin .form-horizontal.denser .json-editor {
  .component {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .form-control:not([type="checkbox"]) {
    width: 90%;
  }

  .btn-toggle-json {
    margin-left: 15px;
  }

  .markdown-field {
    position: relative;
    button {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .markdown-preview {
    margin-top: 5px;
    background: #EEE;
    padding: 10px;
    border-radius:5px;
  }

  .guid {
    display: inline-block;
    background: #e9e9e9;
    padding: 0.2em 0.5em;
    margin-top: 5px;
    margin-bottom: 0;
  }
}
