body.rails_admin .form-horizontal.denser .json-editor {
  .component {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .form-control {
    width: 90%;
  }

  .btn-toggle-json {
    margin-left: 15px;
  }
}
