body.rails_admin .form-horizontal.denser .json-editor {
  .component {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .form-control:not([type="checkbox"]) {
    width: 90%;
  }

  .btn-toggle-json {
    margin-left: 15px;
  }

  .markdown-field {
    position: relative;
    button {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .markdown-preview {
    margin-top: 5px;
    background: #EEE;
    padding: 10px;
    border-radius:5px;
  }

  .guid {
    display: inline-block;
    font-size: 12px;
    background: #F8F8F8;
    padding: 0.1em 0.5em;
    margin: 0 0 -2px 5px;
  }

  .picker-preview {
    img {
      margin-bottom: 5px;
    }

    p {
      margin-top: 8px;
      margin-right: 12px;
      display: inline-block;
      font-size: 14px;
    }

    .btn.remove {
      display: inline-block;
      vertical-align: top;
    }
  }
}
